extends layout

block content
  div(id="newDonationForm")
    form(action="/postDonation", method="post")
      fieldset(id="addD")
        legend What Can You Donate?
        label Status
        input(type="text", name="dStatus")
        br
        label Date 
        input(type="date", name="date")
        br
        input(type="submit", id="sendNewDonation")
 
