extends layout

block content
  //-div(id="newDonationForm")
  .container
    form(action="/postDonatable", method="post" id="add-donation-form")
      fieldset(id="addD")
        legend What Can You Donate?
        .form-group
        label(for="dStatus") Description
        input.form-control(required type="text", name="dStatus" id="dStatus")
        .form-group
        label(for="date") When do you need to donate by?
        input.form-control(required type="datetime-local", name="date" id="date")
        br
        input.btn.btn-primary(type="submit", id="sendNewDonation")


  script.
    document.addEventListener("DOMContentLoaded", function(event) {
      addValidation();
    });

    function addValidation() {
      var form = document.getElementById('add-donation-form');
      form.addEventListener('submit', function(event) {
        if (new Date(document.getElementById('date').value) < Date.now()) {
          event.preventDefault();
          event.stopPropagation();
          alert('That date has already passed!');
        } else {
                alert("Thanks! We'll let local food banks know what you've got.");
        }
      }, false);
    }







