extends layout

block content
  div(id="newDonationForm")
    form(action="/postDonation", method="post")
      fieldset(id="addD")
        legend What Can You Donate?
        label Description
        input(type="text", name="dStatus")
        br
        label When do you need to donate by? 
        input(type="datetime-local", name="date")
        br
        input(type="submit", id="sendNewDonation")
 
