extends layout

block content
  .container
    form(action="/postVendor", method="post")
      legend Food Truck Sign Up
      .form-group
        label(for="name") Name
        input.form-control(required type="text", name="name" id="name" placeholder="Enter a name")
      .form-group
        label(for="email") Email 
        input.form-control(required type="email", name="email" id="email" placeholder="Enter an email address")
      .form-group
        label(for="phone") Phone 
        input.form-control(required type="tel", name="phone" id="phone" placeholder="Enter a phone number")
      .form-group
        label(for="location") Zip Code 
        input.form-control(required type="text", name="location" id="location" placeholder="Enter a zip code")
      .form-group
        label(for="max_dis") Search Radius
        input.form-control(required type="text", name="max_dis" id="max_dis" placeholder="Enter a distance in miles")
      input.btn.btn-primary(type="submit", id="sendNewVendor")
  
  
  
  
  
  
  
  
