extends layout

block content
  div(id="signupForm")
    form(action="/postVendor", method="post")
      fieldset(id="addV")
        legend Vendor Sign Up
        label Name
        input(type="text", name="name")
        br
        label Email 
        input(type="text", name="email")
        br
        label Phone 
        input(type="text", name="phone")
        br
        label Zip code 
        input(type="text", name="location")
        br
        label Max Distance you'll travel to make a donation? (mi)
        input(type="text", name="max_dis")
        br
        input(type="submit", id="sendNewVendor")
  
  
  
  
  
  
  
  
