extends layout

block content
  h1 Donation Details
  
  #content
    p.
      Id: #{details.id}
    p.
      Description: #{details.description}
    p.
      Date: #{details.date}
    p.
      Time: #{details.time}

    

    a.btn.btn-primary(role='button' href='/donations') << Back to Donations

