extends layout
block content
	.jumbotron.jumbotro-fluid
		.container
					h1.display-3	Food Trucks Fight Hunger 
					p.lead Welcome to #{title}, from here we will make a change. Every food vendor can donate the food, and help fight against hunger.
					p
						a.btn.btn-primary.btn-lg(href='/login', role='button') Login
	hr.my-4
	.row
		.col-sm-6
			.card.bg-light.mb-3
				.card-body
					h4	New Vendor? Please Register for an Account.
					p
						a.btn.btn-primary(href='/addVendor',	role='button') Register >>
		.col-sm-6
			.card.bg-light.mb-3
				.card-body
					h4	New Shelter? Please Register for an Account.
					p
						a.btn.btn-primary(href='/addBank',	role='button') Register >>
		//site footer
		hr.my-4
		footer.footer
			p © Software Engineering I | Group 24 | <a href="https://github.com/anberns/cs361group24">Source