doctype
html( lang="en")
	head
		title Food Truck Fight Hunger
		meta(charset='utf-8' )
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1.0' )
		meta(name='description', content='Baking Bootstrap Snippets with Jade' )
		//-BootStrap Theme
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css")
	body(style ="padding-bottom:10rem;")
		.container
		block content
	script(src="https://code.jquery.com/jquery-3.2.1.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js")
	script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js")