extends layout

block content
  if err
    .alert.alert-danger.aler-dismissable.fade.show(role="alert") #{err}
      button.close(type="button" data-dismiss="alert" aria-label="close")
        span(aria-hidden="true") &times;
  .container(id="loginFormVendor")
    legend Log in
    .container(id="tabs")
      ul.nav.nav-pills.nav-fill
        li.nav-item
          a.nav-link.active(href="#1" data-toggle="tab") Food Truck Login
        li.nav-item
          a.nav-link(href="#2" data-toggle="tab") Food Bank Login
      .tab-content
        .tab-pane.active(id="1")
          form(action="/postLogin", method="post")
            br
            .form-row
              .col
                input.form-control(required type="text", name="name" id="vendor-name" placeholder="Food Truck Name")
              .col
                input.form-control(required type="password", name="pass" id="vendor-pass" placeholder="Your password here")
              .col
                input.btn.btn-primary(type="submit", id="loginSubmit")
        .tab-pane(id="2")
          form(action="/postLoginBank", method="post")
            br
            .form-row
              .col
                input.form-control(required type="text", name="name" id="bank-name" placeholder="Food Bank Name")
              .col
                input.form-control(required type="password", name="pass" id="bank-pass" placeholder="Your password here")
              .col
                input.btn.btn-primary(type="submit", id="loginBankSubmit")
