extends layout

block content
  div(id="loginForm")
    form(action="/postLogin", method="post")
      fieldset(id="loginField")
        legend Login
        label Name
        input(type="text", name="name")
        br
        input(type="submit", id="loginSubmit")
  
  
  
  
  
  
  
  
