extends layout

block content
  .container
    h1 Welcome #{name}!
    .row
      .col-md-2
        button.btn.btn-primary(type='button', href='/addDonation') Add a Donation
      .col-md-2
        button.btn.btn-primary(type='button', href='/donations') View Donations
      .col-md-2
        button.btn.btn-primary(type="button" href="/banks") View Nearby Banks


