extends layout

block content
  .container
    h1 Welcome #{name}!
    .row
      .col-md-4
        a.btn.btn-primary(role='button' href='/addDonatable') I Have Food To Donate
      .col-md-3
        a.btn.btn-primary(role='button' href='/donations') Browse Open Donations
      .col-sm-3
        a.btn.btn-primary(role='button' href='/completedDonations') Browse Completed Donations
    br
    br
    .row
      .col-md-3
        a.btn.btn-primary(role='button' href="/banks") View Nearby Banks





