extends layout

block content
  .container
    h1 Welcome #{name}!
    if numOfDonations
      .row
        h2 You have #{numOfDonations} donations to confirm.
      for donation in unconfirmedDonations
        .row #{donation}
    else
      .row
        h2 You do not have any donations to confirm at this time.


